.clickCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 50vh;
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
